<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @rent.user.name %></h1>
    <p>
      <tbody>
          <tr>
            <td><%= 'You rent:' %></td>
            <td><%= @rent.book.title %></td>
            <td><%= @rent.book.author %></td>
            <td><%= @rent.book.genre %></td>
            <td><%= @rent.book.editorial %></td>
            <td><%= @rent.book.year %></td>
          </tr>
      </tbody>
    </p>
  </body>
</html>
