<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
      <tbody>
          <tr>
            <td><%= 'You rent:' %></td><br /
            <td><%= @book.title %></td><br /
            <td><%= @book.author %></td><br /
            <td><%= @book.genre %></td><br /
            <td><%= @book.editorial %></td><br /
            <td><%= @book.year %></td><br /
          </tr>
      </tbody>
    </p>
  </body>
</html>
